pre > code {
  background-color: unset !important;
}

// ----- 重置首页动画 -------
.site-gqrf5s,.site-62odtq {
  .site-features-img {
    width: 100px;
    height: 140px;
    font-size: 92px;
  }

  .site-features-cover {
    width: 100%;
    height: 100%;
  }

  .site-features-description {
    visibility: hidden;
    opacity: 0;
  }
}


.site-gqrf5s:hover,.site-62odtq:hover {
  .site-features-img  {
    width: 24px;
    height: 24px;
    font-size: 18px;
  }
  .site-features-cover {
    width: 24px;
    height: 24px;
    font-size: 18px;
    padding: 4px;
  }

  .site-features-description {
    visibility: visible;
    opacity: 1;
  }
}
// ----- 重置首页动画 -------
